@use "../components/hero";

@use "../components/leftTitleImageRightImage";

@use "../components/quoteImagesTrail";

@use "../components/mediasComposition";

@use "../components/productsSelection";

@use "../components/textMediaV2";

@use "../components/sliderText";
