%label-14 {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

%label-15 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.02rem;
}

%label-16 {
  font-size: 1.6rem;
  line-height: 1.075;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
