@use "../utils/variables" as *;

@use "../shared/titles" as *;

.text__media__v2 {
  margin-top: 11rem;
  .text__media__v2__container {
    display: flex;

    & > * {
      width: 50%;
    }

    .left__image__section {
      position: relative;

      .left__image__media {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%; // Make image fill container
          object-fit: cover; // Maintain aspect ratio while filling
          display: block; // Remove inline spacing
        }
      }
    }

    .right__content__section {
      background: $color-sedona-stone;
      padding-inline: 11.8rem;
      display: flex;
      justify-content: center;
      // Inherits height from flex parent automatically

      .right__content__wrapper {
        padding: 9rem 0;
        text-align: center;
        width: 100%;

        .right__content__media {
          margin-bottom: 11.9rem;
          overflow: hidden;

          img {
            border-radius: 0.5rem;
            width: 24.1rem;
          }
        }

        .right__content__heading {
          @extend %title-45;

          color: $color-apricot-ice;
        }
      }
    }
  }
}
